body {
    background-color: grey;
}

main {
    position: fixed;
    bottom: 0px;
}

span, p {
    font-family: 'Tilt Warp', cursive;
    font-size: medium;
    hyphens: auto;
    margin: 0;
}