.chatEntity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 1s;
    inline-size: 200px;
    padding: 0px;
    position: relative; 
}

.speechBubble {
    word-break: break-all;
    hyphens: auto;
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    bottom: 100px;
    font-size: medium;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    margin: 0px;
}

.guitar {
    left: 165px;
}

.speech {
    left: 125px;
}

.marsh1 {
    left: 65px;
}

.marsh2 {
    right: 65px;
}

.fish {
    right: 210px;
}

.chatEntity>img {
    width: auto;
    height: auto;
}

body {
    background-color: grey;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 75%;
}

footer {
    margin-top: 5%;
    bottom: 0px;
    width: 100%;
}
